<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tree Populations vs. Air Quality, Neighborhood by Neighborhood</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <style>
    body {
      font-family: Georgia, serif;
    }
    .myDiv {
    display: table;
    margin: 0 auto;
    text-align: left;
    font-size: 22px;
}

  </style>
</head>

<body style="background-color:#ADD8E6;">
  <center> <%- include ('global/header');  %>  </center>
  <%- include ('global/navbar');  %>
<center><h2>Community District <%= data2.CDID %>: <%= data2.neigborhood_name %></h2></center>
<br>
<center><h3>Tree Count (# of trees)</h3></center>

<script>
var margin2 = {top: 0, right: 20, bottom: 20, left: 0},
     width = 760 - margin2.left - margin2.right,
     height = 400 - margin2.top - margin2.bottom;
var data2 = [
  {language:  "<%= data2.treeCount %>", value: Number(<%= data2.treeCount %>)},
  {language:  "", value: 60000-Number(<%= data2.treeCount %>)},];
colors=["#98fb98","#A9A9A9","#00CDAC","#FFA23A","#74737A"]

var svg2 = d3.select("body") //create Svg element
  .append("center")
   .append("svg")
   .attr('width', width + margin2.right + margin2.left)
   .attr('height', height + margin2.top + margin2.bottom)
  // .style("border", "solid 1px red")
  .attr("transform","translate(200,0)");
 var chart=svg2.append('g')
    .attr('transform', 'translate(' + margin2.left + ',' + margin2.top + ')')
    .attr('width', width)
    .attr('height', height)
 var pie=d3.pie()
         .value(d => d.value)
 var color_scale2=d3.scaleOrdinal()
               .domain(data2.map(d=>d.language))
               .range(colors)
 let arc2=d3.arc()
        .outerRadius(150)
        .innerRadius(100)
 var p_chart2=chart.selectAll("pie")
      .data(pie(data2))
      .enter()
      .append("g")
      .attr('transform', 'translate(170,230)')
 p_chart2.append("path")
      .attr("d",arc2)
      .attr("fill",d=>{
        return color_scale2(d.data.language);
      })
 p_chart2.append("text")
       .text(function(d){ return d.data.language})
       .attr("transform", function(d) { return "translate(" + arc2.centroid(d) + ")";  })
       .style("text-anchor", "middle")
       //const svg = d3.create('svg').attr('viewBox', [0, 0, width, 200]);
</script>
<div class="myDiv">
<center>
  <li>Tree Count: <%= data2.treeCount %></li>
  <li id="feedback1">this community district has </li>
  <li>city max: 59931</li>
  <li>city min: 2127</li>
</center></ul>
</div>
<br>
<br>
<center><h3> Nitrogen Dioxide Concentration (ppm)</h3></center>
<script>


var margin = {top: 0, right: 20, bottom: 20, left: 0},
     width = 760 - margin.left - margin.right,
     height = 400 - margin.top - margin.bottom;
var data = [
  {language:  "<%= data2.air_quality %>", value: Number(<%= data2.air_quality %>)},
  {language:  "", value: 28-Number(<%= data2.air_quality %>)},];
colors=["#6082B6","#A9A9A9","#00CDAC","#FFA23A","#74737A"]
var svg = d3.select("body") //create Svg element
  .append("center")
   .append("svg")
   .attr('width', width + margin.right + margin.left)
   .attr('height', height + margin.top + margin.bottom)
  // .style("border", "solid 1px red")
  .attr("transform","translate(200,0)");

var chart=svg.append('g')
   .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
   .attr('width', width)
   .attr('height', height)
var pie=d3.pie()
        .value(d => d.value)
var color_scale=d3.scaleOrdinal()
              .domain(data.map(d=>d.language))
              .range(colors)
let arc=d3.arc()
       .outerRadius(150)
       .innerRadius(100)
var p_chart=chart.selectAll("pie")
     .data(pie(data))
     .enter()
     .append("g")
     .attr('transform', 'translate(170,230)')
p_chart.append("path")
     .attr("d",arc)
     .attr("fill",d=>{
       return color_scale(d.data.language);
     })
p_chart.append("text")
      .text(function(d){ return d.data.language})
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")";  })
      .style("text-anchor", "middle")

</script>

<div class="myDiv">
<center>
  <li>Tree Count: <%= data2.air_quality %></li>
  <li id="feedback2">this air quality is </li>
  <li>city average: 19.6</li>

</center></ul>
</div>

  <%- include ('global/footer');  %>
</body>
<script>
let feedback = ''
let arrayOfFeedback = ['very few trees', 'an average amount of trees', 'a very dense tree population'];
if(<%= data2.treeCount %> >= 10537){
  feedback = arrayOfFeedback[2];
}else if(<%= data2.treeCount %> >= 5889 && <%= data2.treeCount %> < 10537){
  feedback = arrayOfFeedback[1];
}else{
  feedback = arrayOfFeedback[0];
}
document.getElementById("feedback1").innerHTML = document.getElementById("feedback1").innerHTML + feedback;
let arrayOfFeedback2 = ['unhealthy', 'average to the rest of the city', 'cleaner than most discticts'];
let feedback2 = '';
if(<%= data2.air_quality %> >= 19.86){
  feedback2 = arrayOfFeedback2[0];
}else if(<%= data2.air_quality %> >= 17.83 && <%= data2.air_quality %> < 19.86){
  feedback2 = arrayOfFeedback2[1];
}else{
  feedback2 = arrayOfFeedback2[2];
}
document.getElementById("feedback2").innerHTML = document.getElementById("feedback2").innerHTML + feedback2;


</script>
</html>
